ORF.XML/Schema/ORF_v0.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ORF_v0.1"
    targetNamespace="http://www.koncepcebim.cz/ORF_v0.1.xsd"
    elementFormDefault="qualified"
    xmlns="http://www.koncepcebim.cz/ORF_v0.1.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:simpleType name="TVerze">
    <xs:restriction base="xs:string">
      <xs:enumeration value="v0.1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TMena">
    <xs:annotation>
      <xs:documentation>
        ISO 4217
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AED"/>
      <xs:enumeration value="AFN"/>
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="AMD"/>
      <xs:enumeration value="ANG"/>
      <xs:enumeration value="AOA"/>
      <xs:enumeration value="ARS"/>
      <xs:enumeration value="AUD"/>
      <xs:enumeration value="AWG"/>
      <xs:enumeration value="AZN"/>
      <xs:enumeration value="BAM"/>
      <xs:enumeration value="BBD"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BGN"/>
      <xs:enumeration value="BHD"/>
      <xs:enumeration value="BIF"/>
      <xs:enumeration value="BMD"/>
      <xs:enumeration value="BND"/>
      <xs:enumeration value="BOB"/>
      <xs:enumeration value="BOV"/>
      <xs:enumeration value="BRL"/>
      <xs:enumeration value="BSD"/>
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="BWP"/>
      <xs:enumeration value="BYN"/>
      <xs:enumeration value="BZD"/>
      <xs:enumeration value="CAD"/>
      <xs:enumeration value="CDF"/>
      <xs:enumeration value="CHE"/>
      <xs:enumeration value="CHF"/>
      <xs:enumeration value="CHW"/>
      <xs:enumeration value="CLF"/>
      <xs:enumeration value="CLP"/>
      <xs:enumeration value="CNY"/>
      <xs:enumeration value="COP"/>
      <xs:enumeration value="COU"/>
      <xs:enumeration value="CRC"/>
      <xs:enumeration value="CUC"/>
      <xs:enumeration value="CUP"/>
      <xs:enumeration value="CVE"/>
      <xs:enumeration value="CZK"/>
      <xs:enumeration value="DJF"/>
      <xs:enumeration value="DKK"/>
      <xs:enumeration value="DOP"/>
      <xs:enumeration value="DZD"/>
      <xs:enumeration value="EGP"/>
      <xs:enumeration value="ERN"/>
      <xs:enumeration value="ETB"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="FJD"/>
      <xs:enumeration value="FKP"/>
      <xs:enumeration value="GBP"/>
      <xs:enumeration value="GEL"/>
      <xs:enumeration value="GHS"/>
      <xs:enumeration value="GIP"/>
      <xs:enumeration value="GMD"/>
      <xs:enumeration value="GNF"/>
      <xs:enumeration value="GTQ"/>
      <xs:enumeration value="GYD"/>
      <xs:enumeration value="HKD"/>
      <xs:enumeration value="HNL"/>
      <xs:enumeration value="HRK"/>
      <xs:enumeration value="HTG"/>
      <xs:enumeration value="HUF"/>
      <xs:enumeration value="IDR"/>
      <xs:enumeration value="ILS"/>
      <xs:enumeration value="INR"/>
      <xs:enumeration value="IQD"/>
      <xs:enumeration value="IRR"/>
      <xs:enumeration value="ISK"/>
      <xs:enumeration value="JMD"/>
      <xs:enumeration value="JOD"/>
      <xs:enumeration value="JPY"/>
      <xs:enumeration value="KES"/>
      <xs:enumeration value="KGS"/>
      <xs:enumeration value="KHR"/>
      <xs:enumeration value="KMF"/>
      <xs:enumeration value="KPW"/>
      <xs:enumeration value="KRW"/>
      <xs:enumeration value="KWD"/>
      <xs:enumeration value="KYD"/>
      <xs:enumeration value="KZT"/>
      <xs:enumeration value="LAK"/>
      <xs:enumeration value="LBP"/>
      <xs:enumeration value="LKR"/>
      <xs:enumeration value="LRD"/>
      <xs:enumeration value="LSL"/>
      <xs:enumeration value="LYD"/>
      <xs:enumeration value="MAD"/>
      <xs:enumeration value="MDL"/>
      <xs:enumeration value="MGA"/>
      <xs:enumeration value="MKD"/>
      <xs:enumeration value="MMK"/>
      <xs:enumeration value="MNT"/>
      <xs:enumeration value="MOP"/>
      <xs:enumeration value="MRU"/>
      <xs:enumeration value="MUR"/>
      <xs:enumeration value="MVR"/>
      <xs:enumeration value="MWK"/>
      <xs:enumeration value="MXN"/>
      <xs:enumeration value="MXV"/>
      <xs:enumeration value="MYR"/>
      <xs:enumeration value="MZN"/>
      <xs:enumeration value="NAD"/>
      <xs:enumeration value="NGN"/>
      <xs:enumeration value="NIO"/>
      <xs:enumeration value="NOK"/>
      <xs:enumeration value="NPR"/>
      <xs:enumeration value="NZD"/>
      <xs:enumeration value="OMR"/>
      <xs:enumeration value="PAB"/>
      <xs:enumeration value="PEN"/>
      <xs:enumeration value="PGK"/>
      <xs:enumeration value="PHP"/>
      <xs:enumeration value="PKR"/>
      <xs:enumeration value="PLN"/>
      <xs:enumeration value="PYG"/>
      <xs:enumeration value="QAR"/>
      <xs:enumeration value="RON"/>
      <xs:enumeration value="RSD"/>
      <xs:enumeration value="RUB"/>
      <xs:enumeration value="RWF"/>
      <xs:enumeration value="SAR"/>
      <xs:enumeration value="SBD"/>
      <xs:enumeration value="SCR"/>
      <xs:enumeration value="SDG"/>
      <xs:enumeration value="SEK"/>
      <xs:enumeration value="SGD"/>
      <xs:enumeration value="SHP"/>
      <xs:enumeration value="SLL"/>
      <xs:enumeration value="SOS"/>
      <xs:enumeration value="SRD"/>
      <xs:enumeration value="SSP"/>
      <xs:enumeration value="STN"/>
      <xs:enumeration value="SVC"/>
      <xs:enumeration value="SYP"/>
      <xs:enumeration value="SZL"/>
      <xs:enumeration value="THB"/>
      <xs:enumeration value="TJS"/>
      <xs:enumeration value="TMT"/>
      <xs:enumeration value="TND"/>
      <xs:enumeration value="TOP"/>
      <xs:enumeration value="TRY"/>
      <xs:enumeration value="TTD"/>
      <xs:enumeration value="TWD"/>
      <xs:enumeration value="TZS"/>
      <xs:enumeration value="UAH"/>
      <xs:enumeration value="UGX"/>
      <xs:enumeration value="USD"/>
      <xs:enumeration value="USN"/>
      <xs:enumeration value="UYI"/>
      <xs:enumeration value="UYU"/>
      <xs:enumeration value="UYW"/>
      <xs:enumeration value="UZS"/>
      <xs:enumeration value="VES"/>
      <xs:enumeration value="VND"/>
      <xs:enumeration value="VUV"/>
      <xs:enumeration value="WST"/>
      <xs:enumeration value="XAF"/>
      <xs:enumeration value="XAG"/>
      <xs:enumeration value="XAU"/>
      <xs:enumeration value="XBA"/>
      <xs:enumeration value="XBB"/>
      <xs:enumeration value="XBC"/>
      <xs:enumeration value="XBD"/>
      <xs:enumeration value="XCD"/>
      <xs:enumeration value="XDR"/>
      <xs:enumeration value="XOF"/>
      <xs:enumeration value="XPD"/>
      <xs:enumeration value="XPF"/>
      <xs:enumeration value="XPT"/>
      <xs:enumeration value="XSU"/>
      <xs:enumeration value="XTS"/>
      <xs:enumeration value="XUA"/>
      <xs:enumeration value="XXX"/>
      <xs:enumeration value="YER"/>
      <xs:enumeration value="ZAR"/>
      <xs:enumeration value="ZMW"/>
      <xs:enumeration value="ZWL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TUrl">
    <xs:restriction base="xs:anyURI">
      <xs:pattern value="(http|https)://.+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TGuid">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Globálně unikátní ID (ISO/IEC 9834-8:2005)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TCena">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="THodnotaMnozstvi">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="\d+\.\d{0-5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TZaokrouhleni">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TEmail">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@]+@[^\.]+\..+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTypPolozky">
    <xs:restriction base="xs:string">
      <!--TODO: Nejake dalsi?-->
      <xs:enumeration value="HSV"></xs:enumeration>
      <xs:enumeration value="PSV"></xs:enumeration>
      <xs:enumeration value="M"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTypKlasifikace">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CC - CZ"></xs:enumeration>
      <xs:enumeration value="CPV"></xs:enumeration>
      <xs:enumeration value="CPA"></xs:enumeration>
      <xs:enumeration value="Vlastni"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TNazevJednotkySI">
    <xs:restriction base="xs:string">
      <xs:enumeration value="metre">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: length
            Symbol: m
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="kilogram">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: mass
            Symbol: kg
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="second">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: time
            Symbol: s
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="ampere">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: electric current
            Symbol: A
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="kelvin">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: thermodynamic temperature
            Symbol: K
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="mole">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: amount of substance
            Symbol: mol
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="candela">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: luminous intensity
            Symbol: cd
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="radian">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: plane angle
            Symbol: rad
            Expression: rad = m/m = 1
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="steradian">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: solid angle
            Symbol: sr
            Expression: sr = m2/m2 = 1
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="hertz">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: frequency
            Symbol: Hz
            Expression: Hz = s−1
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="newton">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: force
            Symbol: N
            Expression: N = kg · m/s2
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="pascal">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: pressure
            Symbol: stress
            Expression: Pa	Pa = N/m2
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="joule">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: energy
            Symbol: J
            Expression: J = N · m
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="watt">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: power
            Symbol: W
            Expression: W = J/s
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="coulomb">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: electric charge
            Symbol: C
            Expression: C = A · s
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="volt">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: electric potential difference
            Symbol: V
            Expression: V = W/A
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="farad">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: capacitance
            Symbol: F
            Expression: F = C/V
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="ohm">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: electric resistance
            Symbol: Ω
            Expression: Ω = V/A
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="siemens">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: electric conductance
            Symbol: S
            Expression: S = Ω−1
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="weber">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: magnetic flux
            Symbol: Wb
            Expression: Wb = V · s
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="tesla">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: magnetic flux density
            Symbol: T
            Expression: T = Wb/m2
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="henry">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: inductance
            Symbol: H
            Expression: H = Wb/A
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="degree_Celsius">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: Celsius temperature
            Symbol: ºC
            Expression: ºC = K
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="lumen">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: luminous flux
            Symbol: lm
            Expression: lm = cd · sr
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="lux">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: illuminance
            Symbol: lx
            Expression: lx = lm/m2
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="becquerel">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: activity (of a radionuclide)
            Symbol: Bq
            Expression: Bq = s−1
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="gray">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: absorbed dose
            Symbol: Gy
            Expression: Gy = J/kg
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="sievert">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: dose equivalent
            Symbol: Sv
            Expression: Sv = J/kg
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="katal">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: catalytic activity
            Symbol: kat
            Expression: kat = mol/s
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TPredponaSI">
    <xs:restriction base="xs:string">
      <xs:enumeration value="yotta">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^24
            Symbol: Y
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="zetta">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^21
            Symbol: Z
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="exa">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^18
            Symbol: E
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="peta">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^15
            Symbol: P
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="tera">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^12
            Symbol: T
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="giga">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^9
            Symbol: G
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="mega">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^6
            Symbol: M
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="kilo">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^3
            Symbol: k
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="hecto">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^2
            Symbol: h
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="deca">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^1 d
            Symbol: a
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="deci">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−1
            Symbol: d
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="centi">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−2
            Symbol: c
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="milli">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−3
            Symbol: m
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="micro">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−6
            Symbol: μ
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="nano">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−9
            Symbol: n
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="pico">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−12
            Symbol: p
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="femto">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−15
            Symbol: f
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="atto">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−18
            Symbol: a
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="zepto">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−21
            Symbol: z
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="yocto">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−24
            Symbol: y
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TJednotka" abstract="true">
    <xs:attribute name="Id" type="xs:ID"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="TPojmenovanaJednotka" abstract="true">
    <xs:complexContent>
      <xs:extension base="TJednotka">

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TJednotkaSI">
    <xs:complexContent>
      <xs:extension base="TPojmenovanaJednotka">
        <xs:attribute name="Nazev" type="TNazevJednotkySI" use="required"/>
        <xs:attribute name="Predpona" type="TPredponaSI" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TOdvozenaJednotka">
    <xs:complexContent>
      <xs:extension base="TJednotka">
        <xs:sequence>
          <xs:element name="Componenta" minOccurs="1" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Jednotka" type="TPojmenovanaJednotka" minOccurs="1"/>
              </xs:sequence>
              <xs:attribute name="Exponent" type="xs:integer" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TKonverzniJednotka">
    <xs:complexContent>
      <xs:extension base="TPojmenovanaJednotka">
        <xs:sequence>
          <xs:element name="ZakladniJednotka" type="TJednotkaSI" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="Nazev" type="xs:string" use="required"/>
        <xs:attribute name="Symbol" type="xs:string" use="required"/>
        <xs:attribute name="Meritko" type="xs:double" default="1"/>
        <xs:attribute name="Odsazeni" type="xs:double" default="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TJednotkaZavislaNaKontextu">
    <xs:complexContent>
      <xs:extension base="TJednotka">
        <xs:attribute name="Nazev" type="xs:string" use="required"/>
        <xs:attribute name="Symbol" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TPenezniJednotka">
    <xs:complexContent>
      <xs:extension base="TJednotka">
        <xs:attribute name="Mena" type="TMena"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="TORF">
    <xs:sequence>
      <xs:element name="Projekt" type="TProjekt"/>
      <xs:element name="Rozpocet" type="TRozpocet"/>
      <xs:element name="Definice">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Klasifikace" type="TKlasifikace" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="CenovaSoustava" type="TCenovaSoustava" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Jednotka" type="TJednotka" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="ZaokrouhleniMnozstviPolozky" type="TZaokrouhleni" use="required"/>
          <xs:attribute name="PozadovanaSazbaDPH" type="xs:boolean" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Verze" type="TVerze" />
  </xs:complexType>
  <xs:complexType name="TCenovaSoustava">
    <xs:attribute name="Id" type="xs:string" use="required"/>
    <xs:attribute name="Nazev" type="xs:string" use="required"/>
    <xs:attribute name="Popis" type="xs:string" use="optional"/>
    <xs:attribute name="Zdroj" type="xs:string" use="optional"/>
    <xs:attribute name="Umisteni" type="TUrl" use="optional"/>
    <xs:attribute name="Edice" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TCenovaSoustavaRef">
    <xs:attribute name="Ref" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="TKlasifikace">
    <xs:sequence>
      <xs:element name="Trida" type="TTrida" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Typ" type="TTypKlasifikace" default="Vlastni"/>
    <xs:attribute name="Nazev" type="xs:string" use="required"/>
    <xs:attribute name="Popis" type="xs:string" use="optional"/>
    <xs:attribute name="Zdroj" type="xs:string" use="optional"/>
    <xs:attribute name="Umisteni" type="TUrl" use="optional"/>
    <xs:attribute name="Edice" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TTrida">
    <xs:sequence>
      <xs:element name="Trida" type="TTrida" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" use="required"/>
    <xs:attribute name="Kod" type="xs:string" use="required"/>
    <xs:attribute name="Nazev" type="xs:string" use="optional"/>
    <xs:attribute name="Popis" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TTridaRef">
    <xs:attribute name="Ref" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="TIdentita" abstract="true">
    <xs:sequence>
      <xs:element name="Popis" type="xs:string" minOccurs="0"/>
      <xs:element name="ExterniEntita" type="TExterniEntita" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="Id" type="TGuid" use="required"/>
    <xs:attribute name="Nazev" type="xs:string" use="required"/>
    <xs:attribute name="DlouhyNazev" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TExterniEntita">
    <xs:attribute name="Id" type="xs:string" use="required"/>
    <xs:attribute name="Nazev" type="xs:string" use="optional"/>
    <xs:attribute name="Zdroj" type="xs:string" use="optional"/>
    <xs:attribute name="Umisteni" type="TUrl" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TProjekt">
    <xs:complexContent>
      <xs:extension base="TIdentita">
        <xs:sequence>
          <xs:element name="Adresa" minOccurs="0" type="xs:string"/>
          <xs:element name="Umisteni" minOccurs="0" type="TPoloha"/>
        </xs:sequence>

        
        <xs:attribute name="EvidencniCislo" type="xs:string" use="optional"/>


        <xs:attribute name="DatumZahajeniRealizace" type="xs:date" use="optional"/>
        <xs:attribute name="DatumUkonceniRealizace" type="xs:date" use="optional"/>

        <xs:attribute name="Mena" type="TMena" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TPoloha">
    <xs:attribute name="ZemSirka" type="xs:double" use="required"/>
    <xs:attribute name="ZemDelka" type="xs:double" use="required"/>
  </xs:complexType>
  <xs:complexType name="TOsoba">
    <xs:sequence>
      <xs:element name="Adresa" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="Jmeno" type="xs:string" use="required"/>
    <xs:attribute name="Email" type="TEmail" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TOrganizace">
    <xs:sequence>
      <xs:element name="Adresa" type="xs:string" minOccurs="0"/>
      <xs:element name="Kontakt" type="TOsoba" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="Nazev" type="xs:string" use="required"/>
    <xs:attribute name="Stat" type="xs:string" use="required"/>
    <xs:attribute name="ICO" type="xs:string"/>
    <xs:attribute name="DIC" type="xs:string"/>
    <xs:attribute name="PSC" type="xs:string"/>
    <xs:attribute name="Telefon" type="xs:string"/>
    <xs:attribute name="Email" type="TEmail"/>
  </xs:complexType>
  <xs:complexType name="TRozpocet">
    <xs:complexContent>
      <xs:extension base="TIdentita">
        <xs:sequence>
          <xs:element name="Objednatel" type="TOrganizace" minOccurs="0"/>
          <xs:element name="Dodavatel" type="TOrganizace" minOccurs="0"/>
          <xs:element name="Objekt" type="TObjekt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Polozka" type="TPolozkaRozpoctu" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TUzelRozpoctu">
    <xs:complexContent>
      <xs:extension base="TIdentita">
        <xs:sequence>
          <xs:element name="Zatrideni" type="TTridaRef" minOccurs="0" maxOccurs="unbounded">
            <xs:keyref name="NodeClassKeyRef" refer="ClassKey">
              <xs:selector xpath="."/>
              <xs:field xpath="@Ref"/>
            </xs:keyref>
          </xs:element>
          <xs:element name="Polozka" type="TPolozkaRozpoctu" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="VlastniTyp" use="optional"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <!--Vyhláška, kořen hierarchie -->
  <xs:complexType name="TObjekt">
    <xs:complexContent>
      <xs:extension base="TUzelRozpoctu">
        <xs:sequence>
          <xs:element name="Objekt" type="TObjekt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="UzelRozpoctu" type="TUzelRozpoctu" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <!-- TODO: ClassRef? -->
        <!-- Povinne z vyhlasky -->
        <xs:attribute name="KSO" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TPolozkaRozpoctu">
    <xs:complexContent>
      <xs:extension base="TIdentita">
        <xs:sequence>
          <xs:element name="Zatrideni" type="TTridaRef" minOccurs="0" maxOccurs="unbounded">
            <xs:keyref name="ClassKeyRef" refer="ClassKey">
              <xs:selector xpath="."/>
              <xs:field xpath="@Ref"/>
            </xs:keyref>
          </xs:element>
          <xs:element name="CenovaSoustava" type="TCenovaSoustavaRef" minOccurs="0" maxOccurs="1">
            <xs:keyref name="CSRef" refer="CostingSourceKey">
              <xs:selector xpath="."/>
              <xs:field xpath="@Ref"/>
            </xs:keyref>
          </xs:element>
          <xs:element name="Mnozstvi" type="TMnozstvi" minOccurs="1" maxOccurs="1">
            <xs:keyref name="UnitRef" refer="UnitKey">
              <xs:selector xpath="." />
              <xs:field xpath="@MernaJednotka"/>
            </xs:keyref>
          </xs:element>
          <xs:element name="SouvisejiciEntita" type="TExterniEntita" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element name="KomentarZadavatele" type="xs:string" minOccurs="0"></xs:element>
          <xs:element name="KomentarUchazece" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
        <xs:attribute name="Kod" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="PoradoveCislo" type="xs:positiveInteger" use="required"></xs:attribute>
        
        <!-- TODO: Potvrdit HSV, PSV, M, ...? -->
        <xs:attribute name="Typ" type="TTypPolozky" use="required"></xs:attribute>
        <xs:attribute name="JednotkovaHmotnost" type="xs:double" use="optional"></xs:attribute>
        <xs:attribute name="JednotkovaDemontazniHmotnost" type="xs:double" use="optional"></xs:attribute>
        <!--TODO: Odkazem na enumeraci v definicích?-->
        <xs:attribute name="SazbaDPH" type="xs:decimal" use="optional"></xs:attribute>
        <xs:attribute name="PrenesenaDPH" type="xs:boolean" use="optional"></xs:attribute>
        <xs:attribute name="PouzeMaterial" type="xs:boolean" use="optional"></xs:attribute>
        
        <xs:attribute name="Varianta" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Odlišení variace od cenové soustavy (především OTSKP)
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        
        <xs:attribute name="Zpusobilost" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Způsobilost pro dotace. Tento údaj slouží především pro vyhodnocení oceněného rozpočtu.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>

        <!--TODO: Změnit na element s definicí toho, kdo jednotkovou cenu dodal, jako samostatna datova vrstva/identita-->
        <xs:attribute name="JednotkovaCena" type="TCena" use="required"></xs:attribute>
        
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TMnozstvi">
    <xs:sequence>
      <xs:element name="Vymera" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Lidsky čitelný vzorec, který vedl k výslednému množství. Není ambicí této verze ORF definovat neutrální formát vzorce.
            Pokud vzorec obsahuje konstanty (figury), měly by být buď substituovány, nebo uvedeny na začátku výpočtového vzorce.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="SkupinaMereni" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Odkaz na metodiku měření
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="THodnotaMnozstvi" name="Hodnota" use="required"></xs:attribute>
    <xs:attribute name="MernaJednotka" type="xs:IDREF" use="required"></xs:attribute>
  </xs:complexType>

  <xs:element name="ORF" type="TORF">
    <xs:annotation>
      <xs:documentation>

      </xs:documentation>
    </xs:annotation>
    <xs:key name="ClassKey">
      <xs:selector xpath=".//Trida"/>
      <xs:field xpath="@Id"/>
    </xs:key>
    <xs:key name="CostingSourceKey">
      <xs:selector xpath="Definice/CenovaSoustava"/>
      <xs:field xpath="@Id"/>
    </xs:key>
    <xs:key name="UnitKey">
      <xs:selector xpath="Definice/Unit"/>
      <xs:field xpath="@Id"/>
    </xs:key>
  </xs:element>
</xs:schema>
