ORF.XML/Schema/ORF_v0.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ORF_v0.1"
    targetNamespace="http://www.koncepcebim.cz/ORF_v0.1.xsd"
    elementFormDefault="qualified"
    xmlns="http://www.koncepcebim.cz/ORF_v0.1.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:simpleType name="TVerze">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Verze ORF - pro účely validace</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="v0.1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TMena">
    <xs:annotation>
      <xs:documentation>
        Enumerace měn podle ISO 4217
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AED"/>
      <xs:enumeration value="AFN"/>
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="AMD"/>
      <xs:enumeration value="ANG"/>
      <xs:enumeration value="AOA"/>
      <xs:enumeration value="ARS"/>
      <xs:enumeration value="AUD"/>
      <xs:enumeration value="AWG"/>
      <xs:enumeration value="AZN"/>
      <xs:enumeration value="BAM"/>
      <xs:enumeration value="BBD"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BGN"/>
      <xs:enumeration value="BHD"/>
      <xs:enumeration value="BIF"/>
      <xs:enumeration value="BMD"/>
      <xs:enumeration value="BND"/>
      <xs:enumeration value="BOB"/>
      <xs:enumeration value="BOV"/>
      <xs:enumeration value="BRL"/>
      <xs:enumeration value="BSD"/>
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="BWP"/>
      <xs:enumeration value="BYN"/>
      <xs:enumeration value="BZD"/>
      <xs:enumeration value="CAD"/>
      <xs:enumeration value="CDF"/>
      <xs:enumeration value="CHE"/>
      <xs:enumeration value="CHF"/>
      <xs:enumeration value="CHW"/>
      <xs:enumeration value="CLF"/>
      <xs:enumeration value="CLP"/>
      <xs:enumeration value="CNY"/>
      <xs:enumeration value="COP"/>
      <xs:enumeration value="COU"/>
      <xs:enumeration value="CRC"/>
      <xs:enumeration value="CUC"/>
      <xs:enumeration value="CUP"/>
      <xs:enumeration value="CVE"/>
      <xs:enumeration value="CZK"/>
      <xs:enumeration value="DJF"/>
      <xs:enumeration value="DKK"/>
      <xs:enumeration value="DOP"/>
      <xs:enumeration value="DZD"/>
      <xs:enumeration value="EGP"/>
      <xs:enumeration value="ERN"/>
      <xs:enumeration value="ETB"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="FJD"/>
      <xs:enumeration value="FKP"/>
      <xs:enumeration value="GBP"/>
      <xs:enumeration value="GEL"/>
      <xs:enumeration value="GHS"/>
      <xs:enumeration value="GIP"/>
      <xs:enumeration value="GMD"/>
      <xs:enumeration value="GNF"/>
      <xs:enumeration value="GTQ"/>
      <xs:enumeration value="GYD"/>
      <xs:enumeration value="HKD"/>
      <xs:enumeration value="HNL"/>
      <xs:enumeration value="HRK"/>
      <xs:enumeration value="HTG"/>
      <xs:enumeration value="HUF"/>
      <xs:enumeration value="IDR"/>
      <xs:enumeration value="ILS"/>
      <xs:enumeration value="INR"/>
      <xs:enumeration value="IQD"/>
      <xs:enumeration value="IRR"/>
      <xs:enumeration value="ISK"/>
      <xs:enumeration value="JMD"/>
      <xs:enumeration value="JOD"/>
      <xs:enumeration value="JPY"/>
      <xs:enumeration value="KES"/>
      <xs:enumeration value="KGS"/>
      <xs:enumeration value="KHR"/>
      <xs:enumeration value="KMF"/>
      <xs:enumeration value="KPW"/>
      <xs:enumeration value="KRW"/>
      <xs:enumeration value="KWD"/>
      <xs:enumeration value="KYD"/>
      <xs:enumeration value="KZT"/>
      <xs:enumeration value="LAK"/>
      <xs:enumeration value="LBP"/>
      <xs:enumeration value="LKR"/>
      <xs:enumeration value="LRD"/>
      <xs:enumeration value="LSL"/>
      <xs:enumeration value="LYD"/>
      <xs:enumeration value="MAD"/>
      <xs:enumeration value="MDL"/>
      <xs:enumeration value="MGA"/>
      <xs:enumeration value="MKD"/>
      <xs:enumeration value="MMK"/>
      <xs:enumeration value="MNT"/>
      <xs:enumeration value="MOP"/>
      <xs:enumeration value="MRU"/>
      <xs:enumeration value="MUR"/>
      <xs:enumeration value="MVR"/>
      <xs:enumeration value="MWK"/>
      <xs:enumeration value="MXN"/>
      <xs:enumeration value="MXV"/>
      <xs:enumeration value="MYR"/>
      <xs:enumeration value="MZN"/>
      <xs:enumeration value="NAD"/>
      <xs:enumeration value="NGN"/>
      <xs:enumeration value="NIO"/>
      <xs:enumeration value="NOK"/>
      <xs:enumeration value="NPR"/>
      <xs:enumeration value="NZD"/>
      <xs:enumeration value="OMR"/>
      <xs:enumeration value="PAB"/>
      <xs:enumeration value="PEN"/>
      <xs:enumeration value="PGK"/>
      <xs:enumeration value="PHP"/>
      <xs:enumeration value="PKR"/>
      <xs:enumeration value="PLN"/>
      <xs:enumeration value="PYG"/>
      <xs:enumeration value="QAR"/>
      <xs:enumeration value="RON"/>
      <xs:enumeration value="RSD"/>
      <xs:enumeration value="RUB"/>
      <xs:enumeration value="RWF"/>
      <xs:enumeration value="SAR"/>
      <xs:enumeration value="SBD"/>
      <xs:enumeration value="SCR"/>
      <xs:enumeration value="SDG"/>
      <xs:enumeration value="SEK"/>
      <xs:enumeration value="SGD"/>
      <xs:enumeration value="SHP"/>
      <xs:enumeration value="SLL"/>
      <xs:enumeration value="SOS"/>
      <xs:enumeration value="SRD"/>
      <xs:enumeration value="SSP"/>
      <xs:enumeration value="STN"/>
      <xs:enumeration value="SVC"/>
      <xs:enumeration value="SYP"/>
      <xs:enumeration value="SZL"/>
      <xs:enumeration value="THB"/>
      <xs:enumeration value="TJS"/>
      <xs:enumeration value="TMT"/>
      <xs:enumeration value="TND"/>
      <xs:enumeration value="TOP"/>
      <xs:enumeration value="TRY"/>
      <xs:enumeration value="TTD"/>
      <xs:enumeration value="TWD"/>
      <xs:enumeration value="TZS"/>
      <xs:enumeration value="UAH"/>
      <xs:enumeration value="UGX"/>
      <xs:enumeration value="USD"/>
      <xs:enumeration value="USN"/>
      <xs:enumeration value="UYI"/>
      <xs:enumeration value="UYU"/>
      <xs:enumeration value="UYW"/>
      <xs:enumeration value="UZS"/>
      <xs:enumeration value="VES"/>
      <xs:enumeration value="VND"/>
      <xs:enumeration value="VUV"/>
      <xs:enumeration value="WST"/>
      <xs:enumeration value="XAF"/>
      <xs:enumeration value="XAG"/>
      <xs:enumeration value="XAU"/>
      <xs:enumeration value="XBA"/>
      <xs:enumeration value="XBB"/>
      <xs:enumeration value="XBC"/>
      <xs:enumeration value="XBD"/>
      <xs:enumeration value="XCD"/>
      <xs:enumeration value="XDR"/>
      <xs:enumeration value="XOF"/>
      <xs:enumeration value="XPD"/>
      <xs:enumeration value="XPF"/>
      <xs:enumeration value="XPT"/>
      <xs:enumeration value="XSU"/>
      <xs:enumeration value="XTS"/>
      <xs:enumeration value="XUA"/>
      <xs:enumeration value="XXX"/>
      <xs:enumeration value="YER"/>
      <xs:enumeration value="ZAR"/>
      <xs:enumeration value="ZMW"/>
      <xs:enumeration value="ZWL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TUrl">
    <xs:annotation>
      <xs:documentation xml:lang="cs">URL adresa</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
      <xs:pattern value="(http|https)://.+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TGuid">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Globálně unikátní ID (ISO/IEC 9834-8:2005)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TCena">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Cena jako desetinné číclo</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="THodnotaMnozstvi">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Množství je desetinné číslo s 0-5 desetinami podle informace definice v ORF</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:pattern value="\d+\.\d{0-5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TZaokrouhleni">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Množství může být zaohrouhleno na 0-5 des. míst. Zaokrouhlení je jednotné pro celý soubor ORF</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TEmail">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Email</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@]+@[^\.]+\..+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTypPolozky">
    <xs:restriction base="xs:string">
      <!--TODO: Nejake dalsi? DC: revize-->
      <xs:enumeration value="HSV"></xs:enumeration>
      <xs:enumeration value="PSV"></xs:enumeration>
      <xs:enumeration value="M"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTypUzlu">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DIL"/>
      <xs:enumeration value="VLASTNI"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTypKlasifikace">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Výčet nejčastěji používaných klasifikací v českém stavebnictví.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="CC-CZ"></xs:enumeration>
      <xs:enumeration value="CPV"></xs:enumeration>
      <xs:enumeration value="CPA"></xs:enumeration>
      <xs:enumeration value="CCI"></xs:enumeration>
      <xs:enumeration value="Vlastni"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TNazevJednotkySI">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Názvy jednotek podle ISO 80000-1:2009</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="metre">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: length
            Symbol: m
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="kilogram">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: mass
            Symbol: kg
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="second">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: time
            Symbol: s
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="ampere">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: electric current
            Symbol: A
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="kelvin">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: thermodynamic temperature
            Symbol: K
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="mole">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: amount of substance
            Symbol: mol
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="candela">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: luminous intensity
            Symbol: cd
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="radian">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: plane angle
            Symbol: rad
            Expression: rad = m/m = 1
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="steradian">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: solid angle
            Symbol: sr
            Expression: sr = m2/m2 = 1
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="hertz">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: frequency
            Symbol: Hz
            Expression: Hz = s−1
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="newton">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: force
            Symbol: N
            Expression: N = kg · m/s2
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="pascal">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: pressure
            Symbol: stress
            Expression: Pa	Pa = N/m2
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="joule">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: energy
            Symbol: J
            Expression: J = N · m
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="watt">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: power
            Symbol: W
            Expression: W = J/s
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="coulomb">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: electric charge
            Symbol: C
            Expression: C = A · s
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="volt">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: electric potential difference
            Symbol: V
            Expression: V = W/A
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="farad">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: capacitance
            Symbol: F
            Expression: F = C/V
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="ohm">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: electric resistance
            Symbol: Ω
            Expression: Ω = V/A
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="siemens">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: electric conductance
            Symbol: S
            Expression: S = Ω−1
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="weber">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: magnetic flux
            Symbol: Wb
            Expression: Wb = V · s
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="tesla">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: magnetic flux density
            Symbol: T
            Expression: T = Wb/m2
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="henry">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: inductance
            Symbol: H
            Expression: H = Wb/A
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="degree_Celsius">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: Celsius temperature
            Symbol: ºC
            Expression: ºC = K
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="lumen">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: luminous flux
            Symbol: lm
            Expression: lm = cd · sr
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="lux">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: illuminance
            Symbol: lx
            Expression: lx = lm/m2
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="becquerel">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: activity (of a radionuclide)
            Symbol: Bq
            Expression: Bq = s−1
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="gray">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: absorbed dose
            Symbol: Gy
            Expression: Gy = J/kg
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="sievert">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: dose equivalent
            Symbol: Sv
            Expression: Sv = J/kg
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="katal">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Quantity: catalytic activity
            Symbol: kat
            Expression: kat = mol/s
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TPredponaSI">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Předpony jednotek podle ISO 80000-1:2009</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="yotta">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^24
            Symbol: Y
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="zetta">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^21
            Symbol: Z
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="exa">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^18
            Symbol: E
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="peta">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^15
            Symbol: P
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="tera">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^12
            Symbol: T
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="giga">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^9
            Symbol: G
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="mega">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^6
            Symbol: M
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="kilo">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^3
            Symbol: k
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="hecto">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^2
            Symbol: h
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="deca">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^1 d
            Symbol: a
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="deci">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−1
            Symbol: d
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="centi">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−2
            Symbol: c
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="milli">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−3
            Symbol: m
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="micro">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−6
            Symbol: μ
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="nano">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−9
            Symbol: n
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="pico">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−12
            Symbol: p
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="femto">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−15
            Symbol: f
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="atto">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−18
            Symbol: a
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="zepto">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−21
            Symbol: z
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="yocto">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Power: 10^−24
            Symbol: y
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

    </xs:restriction>
  </xs:simpleType>

  
  <xs:complexType name="TJednotkaRef">
    <xs:attribute name="Ref" type="xs:IDREF"></xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="TJednotka" abstract="true">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Abstraktní datový typ pro všechny definice jednotek</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Id" type="xs:ID"></xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="TPojmenovanaJednotka" abstract="true">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Abstraktní datový typ pro jednotky, které mají název</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TJednotka">

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    
  <xs:complexType name="TJednotkaSI">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Jednotky SI jsou dané svým názvem (enumerace) a předponou, která definuje jejich zlomek nebo násobek</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TPojmenovanaJednotka">
        <xs:attribute name="Nazev" type="TNazevJednotkySI" use="required"/>
        <xs:attribute name="Predpona" type="TPredponaSI" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    
  <xs:complexType name="TOdvozenaJednotka">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Jednotky je možné kombinovat do odvozených jednotek, například m · s⁻¹</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TJednotka">
        <xs:sequence>
          <xs:element name="Componenta" minOccurs="1" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Jednotka" type="TPojmenovanaJednotka" minOccurs="1"/>
              </xs:sequence>
              <xs:attribute name="Exponent" type="xs:integer" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    
  <xs:complexType name="TKonverzniJednotka">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Další jednotky je možné vyjádřit pomocí měřítka a odszení. Například h = 60 * s</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TPojmenovanaJednotka">
        <xs:sequence>
          <xs:element name="ZakladniJednotka" type="TJednotkaSI" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="Nazev" type="xs:string" use="required"/>
        <xs:attribute name="Symbol" type="xs:string" use="required"/>
        <xs:attribute name="Meritko" type="xs:double" default="1"/>
        <xs:attribute name="Odsazeni" type="xs:double" default="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="TJednotkaZavislaNaKontextu">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Vyjadřuje jednotky, které nejsou vztažené k jednotkám SI. Například "kus", "komplet" a pod.
        Tento datový typ by se měl používat pouze v případě, že není možné jednotku vyjádřit pomocí jednotek SI, odvozených ani konverzních jednotek
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TJednotka">
        <xs:attribute name="Nazev" type="xs:string" use="required"/>
        <xs:attribute name="Symbol" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    
  <xs:complexType name="TPenezniJednotka">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Jednotka pro cenu</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TJednotka">
        <xs:attribute name="Mena" type="TMena" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  
  <xs:complexType name="TORF">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Kořenový datový typ, který obsahuje projekt definující kontext, rozpočet a definiční sekci.
        V definicích jsou definované datové objekty, na které se odkazují další datové entity ORF
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Projekt" type="TProjekt">
        <xs:annotation>
          <xs:documentation xml:lang="cs">Stavební (výstavbový) projekt, pro který se zpracovává rozpočet. Poskytuje širší kontext pro vlastní rozpočet.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Rozpocet" type="TRozpocet">
        <xs:annotation>
          <xs:documentation xml:lang="cs">Rozpočet - struktura a položky rozpočtu</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Definice" type="TDefinice" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="cs">Definice datov7ch objektů, na které se odkazují jiné datové entity v modelu ORF</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Verze" type="TVerze" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">Verze formátu ORF</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="TDefinice">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Sekce definic, na které se pomocí ID odkazují další objekty v datovém modelu
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Organizace" type="TOrganizace" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Seznam organizací
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Klasifikace" type="TKlasifikace" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Seznam klasifikací včetně klasifikační hierarchie. Jednotlivé elementy hierarchie rozpočtu se
            mohou odkazovat na několik klasifikačních tříd.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CenovaSoustava" type="TCenovaSoustava" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Informace o použité cenové soustavě. Položky rozpočtu se na cenovou soustavu odkazují.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Jednotka" type="TJednotka" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Seznam jednotek. Fyzikální jednotky jsou popsány strojově čitelnou formou, ostatní prostým
            textovým popisem. Položky rozpočtu se na tyto jednotky odkazují.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SazbaDPH" type="TSazbaDPH" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Sazby DPH použité v dokumentu ORF
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ZaokrouhleniMnozstviPolozky" type="TZaokrouhleni" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Počet platných desetinných míst pro zaohrouhlování množství
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="TAdresa">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Adresa podle vyhlášky č. 359/2011 Sb. § 6
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="Ulice">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Název ulice
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CisloPopisne">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Číslo popisné nebo evidenční
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CisloOrientacni">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Orientační číslo včetně dodatku
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CastObce">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Část obce, v Praze název katastrálního území
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Obec">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Název obce, v Praze se za názvem obce uvede číslo městského obvodu.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PSC">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Poštovní směrovací číslo
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="TCenovaSoustava">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Informace o cenové soustavě
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="Id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Reference v rámci dokumentu ORF
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Nazev" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Název cenové soustavy
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Popis" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Popis cenové soustavy
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Zdroj" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Zdroj cenové soustavy (například organizace, předpis a pod.)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Umisteni" type="TUrl" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Odkaz na umístění cenové soustavy na webu (pokud je dostupná online)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Edice" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Označení edice cenové soustavy (verze, rok a pod.)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
    
  <xs:complexType name="TCenovaSoustavaRef">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Odkaz na cenovou soustavu
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="Ref" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Reference. Musí existovat odpovídající element s tím to ID.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
    
  <xs:complexType name="TSazbaDPH">
    <xs:sequence>
      <xs:element name="Popis" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Popis sazby DPH
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Identifikátor sazby DPH
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SazbaDPH" type="xs:decimal">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Sazba DPH
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="TSazbaDPHRef">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Odkaz na sazbu DPH
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="Ref" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Reference. Musí existovat odpovídající element s tím to ID.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="TKlasifikace">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Element obsahující definici klasifikačního systému
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Trida" type="TTrida" minOccurs="0" maxOccurs="unbounded" >
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Třídy klasifikačního systému
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Typ" type="TTypKlasifikace" default="Vlastni">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Typ plasifikačního systému, pokud se jedná o jeden z často používaných systémů.
          Pokud se jedná o jiný klasifikační systém, použije se hodnota "Vlastní"
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Nazev" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Název klasifikačního systému
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Popis" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Popis klasifikačního systému
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Zdroj" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Zdroj klasifikačního systému (například organizace, předpis a pod.)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Umisteni" type="TUrl" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Odkaz na umístění klasifikačního systému na webu (pokud je dostupná online)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Edice" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Označení edice klasifikačního systému (verze, rok a pod.)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="TTrida">
    <xs:sequence>
      <xs:element name="Trida" type="TTrida" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Reference v rámci dokumentu ORF
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Kod" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Kód klasifikační třídy
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Nazev" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Název klasifikační třídy
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Popis" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Popis klasifikační třídy
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
    
  <xs:complexType name="TTridaRef">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Odkaz na klasifikační třídu
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="Ref" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Reference. Musí existovat odpovídající element s tím to ID.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="TIdentita" abstract="true">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Abstraktní element, ze kterého jsou odvozeny všechny elementy, které mají ze své podstaty
        vlastní softwarovou identitu. Proto mají unikátní ID (UUID) a uživatelsky srozumitelný
        název, dlouhý název a popis. Zároveň se mohou odkazovat na externí identity (například odpovídající,
        nebo související elementy v modelu stavby).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Popis" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Popis
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExterniEntita" type="TExterniEntita" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Externí identity (například odpovídající, nebo související elementy v modelu stavby).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Id" type="TGuid" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Unikátní ID (podle ISO/IEC 9834-8:2005). Tento identifikátor umožňuje spolehlivě zachovat kontinuitu dat
          při jejich zpracování v různých izovolaných systémech. Umožňuje zachovat softwarovou identitu datové entity.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Nazev" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Krátký název, který lze spolehlivě prezentovat uživateli
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DlouhyNazev" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Dlouhý název
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="TIdentitaPolozky">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Identita položky rozpočtu obsahuje dodatečná omezení proti obecní identitě. Především
        má explicitně omezenou délku názvu.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="TIdentita">
        <xs:sequence>
          <xs:element name="Popis" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Popis položky
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExterniEntita" type="TExterniEntita" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Externí entity související s položkou rozpočtu (například elementy modelu stavby).
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Id" type="TGuid" use="required">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Unikátní ID (podle ISO/IEC 9834-8:2005). Tento identifikátor umožňuje spolehlivě zachovat kontinuitu dat
              při jejich zpracování v různých izovolaných systémech. Umožňuje zachovat softwarovou identitu datové entity.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Nazev" use="required">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Název položky (maximálně 255 znaků)
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="255" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="DlouhyNazev" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Dlouhý název
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="TExterniEntita">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Externí identita představuje odkaz na softwarovou identitu, která existuje v jiném datovém modelu a
        která je jednoznačně adresovatelná svým unikátním ID. Zároveň může mít název pro uživatelskou interakci.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="Id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Identifikátor externí datové entity. Pokud se jedná o UUID odkazující do modelu IFC, bude toto UUID
          reprezentováno stejně jako v sounorech IFC, tedy jako UUID v base64 kódování.
          (https://technical.buildingsmart.org/resources/ifcimplementationguidance/ifc-guid/).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Nazev" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Název externí entity. Slouží pro uživatelskou prezentaci a orientaci.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Zdroj" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Zdroj externí entity (například název souboru)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Umisteni" type="xs:anyURI" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Umístění externí entity. Například URL umístění ve společném datovém prostředí (CDE), nebo relativní
          cesta k souboru s modelem stavby.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="TProjekt">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Informace o výstavbovém projektu, kterého se týká tento model rozpočtu.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TIdentita">
        <xs:sequence>
          <xs:element name="Adresa" minOccurs="0" type="TAdresa">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Adresa plánovaného projektu
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Umisteni" minOccurs="0" type="TPoloha">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Geografické umístění projektu v souřadnicích WGS-84 (GPS souřadnice)
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="EvidencniCislo" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Evidenční číslo projektu
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DatumZahajeniRealizace" type="xs:date" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Datum plánovaného zahájení realizace projektu
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DatumUkonceniRealizace" type="xs:date" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Datum plánovaného ukončení realizace projektu
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Mena" type="TMena" use="required">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Měna pro informace týkající se ceny
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="TPoloha">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Poloha v souřadnicích WGS-84 (GPS souřadnice)
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="ZemSirka" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Zeměpisná šířka
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:double">
          <xs:minInclusive value="-90"/>
          <xs:maxInclusive value="90"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ZemDelka" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Zeměpisná délka
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:double">
          <xs:minInclusive value="-180"/>
          <xs:maxInclusive value="180"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
    
  <xs:complexType name="TOsoba">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Element popisující osobu
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Adresa" type="TAdresa" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Poštovní adresa
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Jmeno" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Jméno a příjmení, případně včetně titulů.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Telefon" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Telefonní číslo osoby
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Email" type="TEmail" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Email osoby
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
    
  <xs:complexType name="TOrganizace">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Element popisující organizaci
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Adresa" type="TAdresa" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Poštovní adresa
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Kontakt" type="TOsoba" minOccurs="0" >
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Kontaktní osoba
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Reference v rámci dokumentu ORF
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Nazev" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Název orkanizace
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ICO" type="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Identifikační číslo organizace
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DIC" type="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Daňové identifikační číslo organizace
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Telefon" type="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Telefonní číslo organizace
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Email" type="TEmail">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Email organizace
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
    
  <xs:complexType name="TOrganizaceRef">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Odkaz na organizaci
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="Ref" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Reference. Musí existovat odpovídající element s tím to ID.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="TRozpocet">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Element reprezentující rozpočet jako hierarchickou strukturu, kdy jednotlivé položky rozpočtu jsou
        koncovými elementy hierarchie.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TIdentita">
        <xs:sequence>
          <xs:element name="Objekt" type="TObjekt" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Stavební objekty jako kořenové elementy hierarchie rozpočtu
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Objednatel" type="TOrganizaceRef">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Objednatel rozpočtu (výstavbového projektu)
              </xs:documentation>
            </xs:annotation>
            <xs:keyref name="ObjednatelKeyRef" refer="OrgKey">
              <xs:selector xpath="."/>
              <xs:field xpath="@Ref"/>
            </xs:keyref>
          </xs:element>
          <xs:element name="Uchazec" type="TOrganizaceRef">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Uchazeč o stavebníé zakázku. Tato právní entita je autorem jednotkových cen
                v ORF.
              </xs:documentation>
            </xs:annotation>
            <xs:keyref name="UchazecKeyRef" refer="OrgKey">
              <xs:selector xpath="."/>
              <xs:field xpath="@Ref"/>
            </xs:keyref>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DatumVytvoreniRozpoctu" type="xs:dateTime" use="required">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Datum, kdy byla vytvořena struktura rozpočtu včetně všech položek a jejich množství
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DatumOceneni" type="xs:dateTime" use="required">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Datum, kdy byly pro jednotlivé položky vyplňěny jednotkové ceny.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="TUzelRozpoctu">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Element reprezentující uzel v hierarchii rozpočtu. Nejběžnější typ uzlu je "Díl". Hloubka struktury uzlů
        není v ORF omezena. Každý uzel může zároveň obsahovat přímo položky rozpočtu. Ceny položek rozpočtu se
        sčítají v této hierarchii až na výslednou cenu na úrovni stavebního objektu a následně celého rozpočtu.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TIdentita">
        <xs:sequence>
          <xs:element name="Zatrideni" type="TTridaRef" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Zařazení uzlu rozpočtu do vybrané klasifikace
              </xs:documentation>
            </xs:annotation>
            <xs:keyref name="NodeClassKeyRef" refer="ClassKey">
              <xs:selector xpath="."/>
              <xs:field xpath="@Ref"/>
            </xs:keyref>
          </xs:element>
          <xs:element name="UzelRozpoctu" type="TUzelRozpoctu" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Podřízené uzly rozpočtu (nižsí stupeň hierarchie)
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Polozka" type="TPolozkaRozpoctu" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Položky rozpočtu
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Typ" type="TTypUzlu" use="required">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Typ uzlu. Nejčastěji "Díl"
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="VlastniTyp" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Název typu rozpočtu, pokud je Typ = 'VLASTNI'
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="TObjekt">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Element reprezentující stavbní objekt jako kořenový element hierarchie rozpočtu
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TIdentita">
        <xs:sequence>
          <xs:element name="Zatrideni" type="TTridaRef" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Zařazení stavebního objektu do vybrané klasifikace
              </xs:documentation>
            </xs:annotation>
            <xs:keyref name="ObjClassKeyRef" refer="ClassKey">
              <xs:selector xpath="."/>
              <xs:field xpath="@Ref"/>
            </xs:keyref>
          </xs:element>
          <xs:element name="UzelRozpoctu" type="TUzelRozpoctu" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Podřízené uzly rozpočtu (nižsí stupeň hierarchie)
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Polozka" type="TPolozkaRozpoctu" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Položky rozpočtu
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <!-- Povinne z vyhlasky -->
        <xs:attribute name="KSO" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Zařazení do klasifikace stavebních objektů (KSO)
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TPolozkaRozpoctu">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Element reprezentující položku rozpočtu
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TIdentitaPolozky">
        <xs:sequence>
          <xs:element name="Zatrideni" type="TTridaRef" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Zařazení položky rozpočtu do vybraných klasifikací
              </xs:documentation>
            </xs:annotation>
            <xs:keyref name="ClassKeyRef" refer="ClassKey">
              <xs:selector xpath="."/>
              <xs:field xpath="@Ref"/>
            </xs:keyref>
          </xs:element>
          <xs:element name="CenovaSoustava" type="TCenovaSoustavaRef" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Odkaz na použitou cenovou soustavu
              </xs:documentation>
            </xs:annotation>
            <xs:keyref name="CSRef" refer="CostingSourceKey">
              <xs:selector xpath="."/>
              <xs:field xpath="@Ref"/>
            </xs:keyref>
          </xs:element>
          <xs:element name="Mnozstvi" type="TMnozstvi" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="cs">Informace o množství</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Komentar" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Volitelný komentář položky. Slouží pro podrobnější specifikaci.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="JednotkovaCena" type="TJednotkovaCena" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Jednotková cena
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SazbaDPH" type="TSazbaDPHRef" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Odkaz na saybu DPH
              </xs:documentation>
            </xs:annotation>
            <xs:keyref name="DPHRef" refer="DPHKey">
              <xs:selector xpath="."/>
              <xs:field xpath="@Ref"/>
            </xs:keyref>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Kod" use="required">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Kód položky, maximálně 20 znaků
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="20"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="PoradoveCislo" type="xs:positiveInteger" use="required">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Pořadové číslo položky.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Typ" type="TTypPolozky" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Typ položky
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="JednotkovaHmotnost" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Jednotková montážní hmotnost
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="JednotkovaDemontazniHmotnost" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Jednotková demontážní hmotnost
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PrenesenaDPH" type="xs:boolean" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Indikuje, zda se na tuto položku vztakuje přenesená daňová povinnost
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Varianta" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Odlišení variace od cenové soustavy (především OTSKP)
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Zpusobilost" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Způsobilost pro dotace. Tento údaj slouží především pro vyhodnocení oceněného rozpočtu zadavatelem.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TMnozstvi">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Element popisující množství, včetně metody měření, jednotky měření a dalších aspektů.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VykazVymer" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Výkaz výměr: Lidsky čitelný vzorec, který vedl k výslednému množství. Není ambicí této verze ORF definovat neutrální formát vzorce.
            Pokud vzorec obsahuje konstanty (figury), měly by být buď substituovány, nebo uvedeny na začátku výpočtového vzorce.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Jednotka" type="TJednotkaRef">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Odkaz na strojově čitelnou fyzkální jednotku, nebo název jiné jednotky (například "komplet")
          </xs:documentation>
        </xs:annotation>
        <xs:keyref name="UnitRef" refer="UnitKey">
          <xs:selector xpath="." />
          <xs:field xpath="@Ref"/>
        </xs:keyref>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="SkupinaMereni" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Odkaz na metodiku měření (např. https://www.sfdi.cz/soubory/obrazky-clanky/metodiky/2019_5_metodika_mereni.pdf)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Vymera" type="THodnotaMnozstvi" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Hodnota výměry
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TJednotkovaCena">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Element popisující jednotkovou cenu. Uchazeč může přidat vlastní komentář.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Komentar" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            Komentář uchazeče k jednotkové ceně
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Cena" type="TCena" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Jednotková cena
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="ORF" type="TORF">
    <xs:annotation>
      <xs:documentation>
        Kořenový element ORF
      </xs:documentation>
    </xs:annotation>
    <xs:key name="ClassKey">
      <xs:selector xpath=".//Trida"/>
      <xs:field xpath="@Id"/>
    </xs:key>
    <xs:key name="CostingSourceKey">
      <xs:selector xpath="Definice/CenovaSoustava"/>
      <xs:field xpath="@Id"/>
    </xs:key>
    <xs:key name="UnitKey">
      <xs:selector xpath="Definice/Jednotka"/>
      <xs:field xpath="@Id"/>
    </xs:key>
    <xs:key name="OrgKey">
      <xs:selector xpath="Definice/Organizace"/>
      <xs:field xpath="@Id"/>
    </xs:key>
    <xs:key name="DPHKey">
      <xs:selector xpath="Definice/SazbaDPH"/>
      <xs:field xpath="@Id"/>
    </xs:key>
  </xs:element>
</xs:schema>
