ORF.XML/Schema/ORF_v0.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ORF_v0.1"
    targetNamespace="http://www.koncepcebim.cz/ORF_v0.1.xsd"
    elementFormDefault="qualified"
    xmlns="http://www.koncepcebim.cz/ORF_v0.1.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:simpleType name="TVerze">
    <xs:restriction base="xs:string">
      <xs:enumeration value="v0.1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TMena">
    <xs:annotation>
      <xs:documentation>
        ISO 4217
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AED"/>
      <xs:enumeration value="AFN"/>
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="AMD"/>
      <xs:enumeration value="ANG"/>
      <xs:enumeration value="AOA"/>
      <xs:enumeration value="ARS"/>
      <xs:enumeration value="AUD"/>
      <xs:enumeration value="AWG"/>
      <xs:enumeration value="AZN"/>
      <xs:enumeration value="BAM"/>
      <xs:enumeration value="BBD"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BGN"/>
      <xs:enumeration value="BHD"/>
      <xs:enumeration value="BIF"/>
      <xs:enumeration value="BMD"/>
      <xs:enumeration value="BND"/>
      <xs:enumeration value="BOB"/>
      <xs:enumeration value="BOV"/>
      <xs:enumeration value="BRL"/>
      <xs:enumeration value="BSD"/>
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="BWP"/>
      <xs:enumeration value="BYN"/>
      <xs:enumeration value="BZD"/>
      <xs:enumeration value="CAD"/>
      <xs:enumeration value="CDF"/>
      <xs:enumeration value="CHE"/>
      <xs:enumeration value="CHF"/>
      <xs:enumeration value="CHW"/>
      <xs:enumeration value="CLF"/>
      <xs:enumeration value="CLP"/>
      <xs:enumeration value="CNY"/>
      <xs:enumeration value="COP"/>
      <xs:enumeration value="COU"/>
      <xs:enumeration value="CRC"/>
      <xs:enumeration value="CUC"/>
      <xs:enumeration value="CUP"/>
      <xs:enumeration value="CVE"/>
      <xs:enumeration value="CZK"/>
      <xs:enumeration value="DJF"/>
      <xs:enumeration value="DKK"/>
      <xs:enumeration value="DOP"/>
      <xs:enumeration value="DZD"/>
      <xs:enumeration value="EGP"/>
      <xs:enumeration value="ERN"/>
      <xs:enumeration value="ETB"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="FJD"/>
      <xs:enumeration value="FKP"/>
      <xs:enumeration value="GBP"/>
      <xs:enumeration value="GEL"/>
      <xs:enumeration value="GHS"/>
      <xs:enumeration value="GIP"/>
      <xs:enumeration value="GMD"/>
      <xs:enumeration value="GNF"/>
      <xs:enumeration value="GTQ"/>
      <xs:enumeration value="GYD"/>
      <xs:enumeration value="HKD"/>
      <xs:enumeration value="HNL"/>
      <xs:enumeration value="HRK"/>
      <xs:enumeration value="HTG"/>
      <xs:enumeration value="HUF"/>
      <xs:enumeration value="IDR"/>
      <xs:enumeration value="ILS"/>
      <xs:enumeration value="INR"/>
      <xs:enumeration value="IQD"/>
      <xs:enumeration value="IRR"/>
      <xs:enumeration value="ISK"/>
      <xs:enumeration value="JMD"/>
      <xs:enumeration value="JOD"/>
      <xs:enumeration value="JPY"/>
      <xs:enumeration value="KES"/>
      <xs:enumeration value="KGS"/>
      <xs:enumeration value="KHR"/>
      <xs:enumeration value="KMF"/>
      <xs:enumeration value="KPW"/>
      <xs:enumeration value="KRW"/>
      <xs:enumeration value="KWD"/>
      <xs:enumeration value="KYD"/>
      <xs:enumeration value="KZT"/>
      <xs:enumeration value="LAK"/>
      <xs:enumeration value="LBP"/>
      <xs:enumeration value="LKR"/>
      <xs:enumeration value="LRD"/>
      <xs:enumeration value="LSL"/>
      <xs:enumeration value="LYD"/>
      <xs:enumeration value="MAD"/>
      <xs:enumeration value="MDL"/>
      <xs:enumeration value="MGA"/>
      <xs:enumeration value="MKD"/>
      <xs:enumeration value="MMK"/>
      <xs:enumeration value="MNT"/>
      <xs:enumeration value="MOP"/>
      <xs:enumeration value="MRU"/>
      <xs:enumeration value="MUR"/>
      <xs:enumeration value="MVR"/>
      <xs:enumeration value="MWK"/>
      <xs:enumeration value="MXN"/>
      <xs:enumeration value="MXV"/>
      <xs:enumeration value="MYR"/>
      <xs:enumeration value="MZN"/>
      <xs:enumeration value="NAD"/>
      <xs:enumeration value="NGN"/>
      <xs:enumeration value="NIO"/>
      <xs:enumeration value="NOK"/>
      <xs:enumeration value="NPR"/>
      <xs:enumeration value="NZD"/>
      <xs:enumeration value="OMR"/>
      <xs:enumeration value="PAB"/>
      <xs:enumeration value="PEN"/>
      <xs:enumeration value="PGK"/>
      <xs:enumeration value="PHP"/>
      <xs:enumeration value="PKR"/>
      <xs:enumeration value="PLN"/>
      <xs:enumeration value="PYG"/>
      <xs:enumeration value="QAR"/>
      <xs:enumeration value="RON"/>
      <xs:enumeration value="RSD"/>
      <xs:enumeration value="RUB"/>
      <xs:enumeration value="RWF"/>
      <xs:enumeration value="SAR"/>
      <xs:enumeration value="SBD"/>
      <xs:enumeration value="SCR"/>
      <xs:enumeration value="SDG"/>
      <xs:enumeration value="SEK"/>
      <xs:enumeration value="SGD"/>
      <xs:enumeration value="SHP"/>
      <xs:enumeration value="SLL"/>
      <xs:enumeration value="SOS"/>
      <xs:enumeration value="SRD"/>
      <xs:enumeration value="SSP"/>
      <xs:enumeration value="STN"/>
      <xs:enumeration value="SVC"/>
      <xs:enumeration value="SYP"/>
      <xs:enumeration value="SZL"/>
      <xs:enumeration value="THB"/>
      <xs:enumeration value="TJS"/>
      <xs:enumeration value="TMT"/>
      <xs:enumeration value="TND"/>
      <xs:enumeration value="TOP"/>
      <xs:enumeration value="TRY"/>
      <xs:enumeration value="TTD"/>
      <xs:enumeration value="TWD"/>
      <xs:enumeration value="TZS"/>
      <xs:enumeration value="UAH"/>
      <xs:enumeration value="UGX"/>
      <xs:enumeration value="USD"/>
      <xs:enumeration value="USN"/>
      <xs:enumeration value="UYI"/>
      <xs:enumeration value="UYU"/>
      <xs:enumeration value="UYW"/>
      <xs:enumeration value="UZS"/>
      <xs:enumeration value="VES"/>
      <xs:enumeration value="VND"/>
      <xs:enumeration value="VUV"/>
      <xs:enumeration value="WST"/>
      <xs:enumeration value="XAF"/>
      <xs:enumeration value="XAG"/>
      <xs:enumeration value="XAU"/>
      <xs:enumeration value="XBA"/>
      <xs:enumeration value="XBB"/>
      <xs:enumeration value="XBC"/>
      <xs:enumeration value="XBD"/>
      <xs:enumeration value="XCD"/>
      <xs:enumeration value="XDR"/>
      <xs:enumeration value="XOF"/>
      <xs:enumeration value="XPD"/>
      <xs:enumeration value="XPF"/>
      <xs:enumeration value="XPT"/>
      <xs:enumeration value="XSU"/>
      <xs:enumeration value="XTS"/>
      <xs:enumeration value="XUA"/>
      <xs:enumeration value="XXX"/>
      <xs:enumeration value="YER"/>
      <xs:enumeration value="ZAR"/>
      <xs:enumeration value="ZMW"/>
      <xs:enumeration value="ZWL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TUrl">
    <xs:restriction base="xs:anyURI">
      <xs:pattern value="(http|https)://.+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TGuid">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Globálně unikátní ID (ISO/IEC 9834-8:2005)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TCena">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TZaokrouhleni">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TEmail">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@]+@[^\.]+\..+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTypPolozky">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HSV"></xs:enumeration>
      <xs:enumeration value="PSV"></xs:enumeration>
      <xs:enumeration value="M"></xs:enumeration>
      <!--TODO: Nejake dalsi?-->
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TORF">
    <xs:sequence>
      <xs:element name="Projekt" type="TProjekt"/>
      <xs:element name="Rozpocet" type="TRozpocet"/>
      <xs:element name="Definice">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Klasifikace" type="TKlasifikace" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="CenovaSoustava" type="TCenovaSoustava" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Verze" type="TVerze" />
  </xs:complexType>
  <xs:complexType name="TCenovaSoustava">
    <xs:attribute name="Id" type="xs:string" use="required"/>
    <xs:attribute name="Nazev" type="xs:string" use="required"/>
    <xs:attribute name="Popis" type="xs:string" use="optional"/>
    <xs:attribute name="Zdroj" type="xs:string" use="optional"/>
    <xs:attribute name="Umisteni" type="TUrl" use="optional"/>
    <xs:attribute name="Edice" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TCenovaSoustavaRef">
    <xs:attribute name="Ref" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="TKlasifikace">
    <xs:sequence>
      <xs:element name="Trida" type="TTrida" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Nazev" type="xs:string" use="required"/>
    <xs:attribute name="Popis" type="xs:string" use="optional"/>
    <xs:attribute name="Zdroj" type="xs:string" use="optional"/>
    <xs:attribute name="Umisteni" type="TUrl" use="optional"/>
    <xs:attribute name="Edice" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TTrida">
    <xs:sequence>
      <xs:element name="Trida" type="TTrida" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" use="required"/>
    <xs:attribute name="Kod" type="xs:string" use="required"/>
    <xs:attribute name="Nazev" type="xs:string" use="optional"/>
    <xs:attribute name="Popis" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TTridaRef">
    <xs:attribute name="Ref" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="TIdentita" abstract="true">
    <xs:sequence>
      <xs:element name="Popis" type="xs:string" minOccurs="0"/>
      <xs:element name="ExterniEntita" type="TExterniEntita" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="Id" type="TGuid" use="required"/>
    <xs:attribute name="Nazev" type="xs:string" use="required"/>
    <xs:attribute name="DlouhyNazev" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TExterniEntita">
    <xs:attribute name="Id" type="xs:string" use="required"/>
    <xs:attribute name="Nazev" type="xs:string" use="optional"/>
    <xs:attribute name="Zdroj" type="xs:string" use="optional"/>
    <xs:attribute name="Umisteni" type="TUrl" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TProjekt">
    <xs:complexContent>
      <xs:extension base="TIdentita">
        <xs:sequence>
          <xs:element name="Adresa" minOccurs="0" type="xs:string"/>
          <xs:element name="Umisteni" minOccurs="0" type="TPoloha"/>
        </xs:sequence>

        <xs:attribute name="EvidencniCislo" type="xs:string" use="optional"/>

        <xs:attribute name="ZaokrouhleniJednotkoveCeny" type="TZaokrouhleni" use="required"/>
        <xs:attribute name="ZaokrouhleniCelkoveCenyRozpoctu" type="TZaokrouhleni" use="required"/>
        <xs:attribute name="ZaokrouhleniCelkoveCenyObjektu" type="TZaokrouhleni" use="required"/>
        <xs:attribute name="ZaokrouhleniMnozstviPolozky" type="TZaokrouhleni" use="required"/>

        <xs:attribute name="DatumZahajeniRealizace" type="xs:date" use="optional"/>
        <xs:attribute name="DatumUkonceniRealizace" type="xs:date" use="optional"/>

        <xs:attribute name="Mena" type="TMena" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TPoloha">
    <xs:attribute name="ZemSirka" type="xs:double" use="required"/>
    <xs:attribute name="ZemDelka" type="xs:double" use="required"/>
  </xs:complexType>
  <xs:complexType name="TOsoba">
    <xs:sequence>
      <xs:element name="Adresa" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="Jmeno" type="xs:string" use="required"/>
    <xs:attribute name="Email" type="TEmail" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TOrganizace">
    <xs:sequence>
      <xs:element name="Adresa" type="xs:string" minOccurs="0"/>
      <xs:element name="Kontakt" type="TOsoba" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="Nazev" type="xs:string" use="required"/>
    <xs:attribute name="Stat" type="xs:string" use="required"/>
    <xs:attribute name="ICO" type="xs:string"/>
    <xs:attribute name="DIC" type="xs:string"/>
    <xs:attribute name="PSC" type="xs:string"/>
    <xs:attribute name="Telefon" type="xs:string"/>
    <xs:attribute name="Email" type="TEmail"/>
  </xs:complexType>
  <xs:complexType name="TRozpocet">
    <xs:complexContent>
      <xs:extension base="TIdentita">
        <xs:sequence>
          <xs:element name="Objednatel" type="TOrganizace" minOccurs="0"/>
          <xs:element name="Dodavatel" type="TOrganizace" minOccurs="0"/>
          <xs:element name="Objekt" type="TObjekt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Polozka" type="TPolozkaRozpoctu" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TUzelRozpoctu">
    <xs:complexContent>
      <xs:extension base="TIdentita">
        <xs:sequence>
          <xs:element name="Polozka" type="TPolozkaRozpoctu" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TObjekt">
    <xs:complexContent>
      <xs:extension base="TUzelRozpoctu">
        <xs:sequence>
          <xs:element name="Objekt" type="TObjekt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Dil" type="TDil" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="JKSO"></xs:attribute> <!-- TODO -->
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TPolozkaRozpoctu">
    <xs:complexContent>
      <xs:extension base="TIdentita">
        <xs:sequence>
          <xs:element name="Zatrideni" type="TTridaRef" minOccurs="0" maxOccurs="unbounded">
            <xs:keyref name="ClassKeyRef" refer="ClassKey">
              <xs:selector xpath="."/>
              <xs:field xpath="@Ref"/>
            </xs:keyref>
          </xs:element>
          <xs:element name="CenovaSoustava" type="TCenovaSoustavaRef" minOccurs="0" maxOccurs="unbounded">
            <xs:keyref name="CSRef" refer="CostingSourceKey">
              <xs:selector xpath="."/>
              <xs:field xpath="@Ref"/>
            </xs:keyref>
          </xs:element>
          <xs:element name="Mnozstvi" type="TMnozstvi" minOccurs="1"></xs:element>
          <xs:element name="SouvisejiciEntita" type="TExterniEntita" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element name="KomentarZadavatele" type="xs:string" minOccurs="0"></xs:element>
          <xs:element name="KomentarUchazece" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
        <xs:attribute name="Kod" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="Typ" type="TTypPolozky" use="required"></xs:attribute>
        <xs:attribute name="MernaJednotka" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="JednotkovaCena" type="TCena" use="required"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TMnozstvi">
    <!--TODO: Definovat-->
  </xs:complexType>
  <xs:complexType name="TDil">
    <xs:complexContent>
      <xs:extension base="TUzelRozpoctu">
        <xs:sequence>
          <xs:element name="Dil" type="TDil" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ORF" type="TORF">
    <xs:annotation>
      <xs:documentation>

      </xs:documentation>
    </xs:annotation>
    <xs:key name="ClassKey">
      <xs:selector xpath=".//Trida"/>
      <xs:field xpath="@Id"/>
    </xs:key>
    <xs:key name="CostingSourceKey">
      <xs:selector xpath="Definice/CenovaSoustava"/>
      <xs:field xpath="@Id"/>
    </xs:key>
  </xs:element>
</xs:schema>
